{{ form_start(form) }}
    <div class="form-group">
    {{ form_row(form.username) }}
    </div>
    <div class="form-group row">
        <div class="col">
        {{ form_row(form.firstname) }}
        </div>
        <div class="col">
        {{ form_row(form.lastname) }}
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
            {{ form_row(form.email) }}
            </div>
            <div class="col">
                <img src="https://static-exp1.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" width="20" height="20" alt="logo"/>
            </div>
            <div class="col">
            <img src="https://github.com/fluidicon.png" width="20" height="20" alt="logo"/>
              {{ form_row(form.LinkLinkedin) }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Enregistrer</button>
{{ form_end(form) }}

<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
