<form id="profile-form" method="post" action="{{ path('profile_edit', {id: user.id}) }}" class="col-sm-10">
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="profile-lastname">Nom</label>
                <input type="text" class="form-control" id="profile-lastname" value="{{ user.nom }}">
            </div>
            <div class="col">
                <label for="profile-firstname">Prenom</label>
                <input type="text" class="form-control" id="profile-firstname" value="{{ user.prenom }}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="profile-username">Username</label>
        <input type="text" class="form-control" id="profile-username" value="{{ user.username }}">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="profile-email">Email</label>
                <input type="email" class="form-control" id="profile-email" value="{{ user.email }}">
            </div>
            <div class="col">
                <label for="profile-linkedin">Lien Linkedin</label>
                <input type="url" class="form-control" id="profile-linkedin" value="{{ user.LinkLinkedin }}">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Mettre à jour</button>
</form>


