<div class="row" style="margin-top: 15px;">
    <div class="col-sm-6">
        {% if stat is defined and stat != null %}
        <input id="profil-Communication" type="hidden" value="{{ stat.Communication }}" />
        <input id="profil-CriticalThinking" type="hidden" value="{{ stat.CriticalThinking }}" />
        <input id="profil-Leadership" type="hidden" value="{{ stat.Leadership }}" />
        <input id="profil-PositiveAttitude" type="hidden" value="{{ stat.PositiveAttitude }}" />
        <input id="profil-TeamWork" type="hidden" value="{{ stat.TeamWork }}" />
        <input id="profil-WorkEthic" type="hidden" value="{{ stat.WorkEthic }}" />
        {% endif %}

        <canvas id="profile-radar" width="400" height="400"></canvas>
    </div>
    <div class="col-sm-6">
        <h2 style="margin-bottom: 20px">Quelques stats</h2>
        <dl>
            <dt>Nombre de parties jouées</dt>
            <dd>{{ nbparties }}</dd>
            <dt>Nombre de messages envoyés</dt>
            <dd>{{ random(1, 50) }}</dd>
            <dt>Nombre d'échanges avec d'autres utilisateurs</dt>
            <dd>{{ random(1, 10) }}</dd>
            <dt>Dernière connexion</dt>
            <dd>{{ user.connectiondate.date|slice(0, -7) }}</dd>
        </dl>
    </div>
</div>

<script>
    var ctx = $("#profile-radar");
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['Communication', 'Esprit critique', 'Leadership', 'Positive', 'Travail d\'équipe', 'Ethique'],
            datasets: [{
                label: 'Vos compétences',
                fill: true,
                data: [
                    $("#profil-Communication").val(),
                    $("#profil-CriticalThinking").val(),
                    $("#profil-Leadership").val(),
                    $("#profil-PositiveAttitude").val(),
                    $("#profil-TeamWork").val(),
                    $("#profil-WorkEthic").val()
                ],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Vos compétences'
            },
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    suggestedMin: 0,
                    fontSize: 12,
                    stepSize: 2
                }
            },
            tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                    title: function(tooltipItems, data) {
                        return data.labels[tooltipItems[0].index];
                    },
                    label: function(tooltipItems, data) {
                        return tooltipItems.value;
                    }
                },
                style: {
                    width: 50
                }
            },
            layout: {
                padding: {
                    left: 50
                }
            }
        }
    });
</script>
