{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
<style>
    body{
        background-color: #333;
        height: 100%;
        width: 100%
    }
    .body-wrapper {
        height: 100%;
        padding: 5%;
        background-color: rgb(166, 147, 111);
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 3%;
    }
    .bground h1{
        color: white;
        font: italic 3em "Fira Sans", serif;
        padding: 10px;
    }

    .bground h2, h3, h4, h5, h6{
        color: white;
        font: italic 2em "Fira Sans", serif;
    }
    .bground h3, h4, h5, h6{
        color: rgb(66, 63, 57);
        font: italic 1.5em "Fira Sans", serif;
    }
    .bground h6{
        font: italic 1em "Fira Sans", serif;
    }
    .bground h2 strong{
        font: italic 0.6em "Fira Sans", serif;
    }
    h1, h2 {
        text-align: center;
    }
    .chat-box {
        padding: 10px;
        height: 300px;
        width: 300px;
        background-color: rgb(237, 216, 202);
        border-radius: 2% 2% 0 0 ;
    }
    .chat-messages {
        height: 100%;
        overflow: auto;
    }

    .chat-btns{
        width: 300px;
        display: flex;
        flex-direction: row;
    }
    .chat-btns{
        width: 300px;
        display: flex;
        flex-direction: row;
    }
    .scenario{
        width: 400px;
        padding: 10px;
    }
    .scenario-btns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .scenario-btn{
        margin: 2px;
        background-color: rgb(66, 63, 57);
        color: rgb(237, 216, 202);
        border: rgb(237, 216, 202) solid 1px;
        overflow-wrap: normal;
        white-space: normal;
        width: 100%;
    }
    .scenario-btn:hover{
        background-color: rgb(237, 216, 202);
        color: rgb(66, 63, 57);
        border: rgb(66, 63, 57) solid 1px;
    }
    .context{
        font: italic 0.9em "Fira Sans", serif;
        text-align: justify;
    }
    .chat-input{
        width: 70%;
    }
    .chat-btn{
        width: 30%;
        background-color: rgb(66, 63, 57);
        color: rgb(237, 216, 202);
    }
    .chat-btn:hover{
        background-color: rgb(237, 216, 202);
        color: rgb(66, 63, 57);
    }
    .chat-message-title{
        border-bottom: 1px solid rgb(166, 147, 111);
        padding: 1%;
        width: 100%;
        text-align:center;
    }
    .href-button{
        display: block;
        padding: 5%;
        background-color: rgb(66, 63, 57);
        color: rgb(237, 216, 202);
        width: 100%;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
    }
    .href-button:hover{
        background-color: rgb(237, 216, 202);
        color: rgb(66, 63, 57);
    }
</style>

<div class="bground">
    <h1>Page de jeu de <strong id="user">{{ user.username }}</strong></h1>
    <input id="chat-userid" type="hidden" value="{{ user.id }}" />
    <h2 style="display: none">Partie n°<strong id="campagne_user_id">{{ campagne_user_id }}</strong></h2>
    <div class="body-wrapper">
        <div class="chat">
            <h2>Chat</h2>
            <div class="chat-box">
                <h6 class="chat-message-title"> Messages </h6>
                <div class="chat-messages" id="messages">

                </div>
            </div>
            <div class="chat-btns">
                <input class="form-control chat-input" type="text" id="message-content" placeholder="Tapez message ici " />
                <button class="btn btn-success chat-btn" id="send">Envoyer</button>
            </div>
        </div>

        <div class="scenario">
            <h2>Scénario</h2>
            <div id="scenario-context" class="context">
            </div>
            <div id="scenario-btn" class="scenario-btns">
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">

<script>
    var COMPAIGN = {
        "1": {
            "context": "Vous entrez dans une caverne, vos yeux s'habituent tout juste à l'obscurité, que faites-vous ?",
            "buttons": [
                {
                    "id": 1,
                    "text": "On fouille",
                    "link": "2",
                    "score": {
                        "Communication": 1,
                        "Esprit": 0,
                        "Leadership": 1,
                        "Positive": 1,
                        "Equipe": 1,
                        "Ethique": 0
                    }
                },
                {
                    "id": 2,
                    "text": "On sort",
                    "link": "3",
                    "score": {
                        "Communication": 0,
                        "Esprit": -1,
                        "Leadership": 0,
                        "Positive": -1,
                        "Equipe": 0,
                        "Ethique": 0
                    }
                },
                {
                    "id": 3,
                    "text": "On fonce",
                    "link": "4",
                    "score": {
                        "Communication": -1,
                        "Esprit": 0,
                        "Leadership": 1,
                        "Positive": 0,
                        "Equipe": -1,
                        "Ethique": 0
                    }
                }
            ]
        },
        "2": {
            "context": "Il y a des chauves-souris et un ruisseau proches de vous, plus loin la caverne continue, où allez vous ?",
            "buttons": [
                {
                    "id": 1,
                    "text": "Proche des chauves-souris",
                    "link": "7",
                    "score": {
                        "Communication": 1,
                        "Esprit": 1,
                        "Leadership": 0,
                        "Positive": 0,
                        "Equipe": 0,
                        "Ethique": 0
                    }
                },
                {
                    "id": 2,
                    "text": "Proche du ruisseau",
                    "link": "8",
                    "score": {
                        "Communication": 1,
                        "Esprit": 1,
                        "Leadership": 0,
                        "Positive": 1,
                        "Equipe": 0,
                        "Ethique": 0
                    }
                },
                {
                    "id": 3,
                    "text": "On continue dans la caverne",
                    "link": "4",
                    "score": {
                        "Communication": 0,
                        "Esprit": 0,
                        "Leadership": 1,
                        "Positive": 0,
                        "Equipe": 1,
                        "Ethique": 0
                    }
                }
            ]
        },
        "3": {
            "context": "Avez-vous si peur que ça ? il n'y a rien dehors, que faites-vous ?",
            "buttons": [
                {
                    "id": 1,
                    "text": "On retourne dans la caverne",
                    "link": "1",
                    "score": {
                        "Communication": -1,
                        "Esprit": -1,
                        "Leadership": -1,
                        "Positive": -1,
                        "Equipe": -1,
                        "Ethique": 0
                    }
                },
                {
                    "id": 2,
                    "text": "Abandonner",
                    "link": "-1",
                    "score": {
                        "Communication": -1,
                        "Esprit": -1,
                        "Leadership": -1,
                        "Positive": -1,
                        "Equipe": -1,
                        "Ethique": -1
                    }
                }
             ]
        },
        "4": {
            "context": "Alors que vous avancez dans la caverne, vous voyez un trésor au loin, que faites-vous ?",
            "buttons": [
                {
                    "id": 4,
                    "text": "C'est surement un piège, on fait demi-tour",
                    "link": "2",
                    "score": {
                        "Communication": 1,
                        "Esprit": 1,
                        "Leadership": 1,
                        "Positive": 1,
                        "Equipe": 1,
                        "Ethique": 1
                    }
                },
                {
                    "id": 5,
                    "text": "On l'ouvre !",
                    "link": "6",
                    "score": {
                        "Communication": 0,
                        "Esprit": 1,
                        "Leadership": 0,
                        "Positive": 1,
                        "Equipe": 1,
                        "Ethique": 0
                    }
                }
            ]
        },
        "6": {
            "context": "Vous êtes riches, Bravo !",
            "buttons": [
                {
                    "id": 5,
                    "text": "Terminer",
                    "link": "-1"
                }
            ]
        },
        "7": {
            "context": "Une chauve-souris s'envole vers l'extérieur de la caverne, que faites-vous ?",
            "buttons": [
                {
                    "id": 1,
                    "text": "On sort avec la chauve-souris",
                    "link": "3",
                    "score": {
                        "Communication": 0,
                        "Esprit": 0,
                        "Leadership": -1,
                        "Positive": -1,
                        "Equipe": 0,
                        "Ethique": 0
                    }
                },
                {
                    "id": 2,
                    "text": "On continue de fouiller",
                    "link": "2",
                    "score": {
                        "Communication": 1,
                        "Esprit": 1,
                        "Leadership": 0,
                        "Positive": 1,
                        "Equipe": 1,
                        "Ethique": 0
                    }
                }
            ]
        },
        "8": {
            "context": "Une carcasse de chevreuil est étendue au fond du ruisseau, que faites-vous ?",
            "buttons": [
                {
                    "id": 1,
                    "text": "On fouille la carcasse",
                    "link": "9",
                    "score": {
                        "Communication": 1,
                        "Esprit": 1,
                        "Leadership": 0,
                        "Positive": -1,
                        "Equipe": 0,
                        "Ethique": -1
                    }
                },
                {
                    "id": 2,
                    "text": "On continue de fouiller la caverne",
                    "link": "2",
                    "score": {
                        "Communication": 1,
                        "Esprit": 1,
                        "Leadership": 0,
                        "Positive": 1,
                        "Equipe": 1,
                        "Ethique": 0
                    }
                }
            ]
        },
        "9": {
            "context": "Des traces de crocs acérés montrent que cette carcasse a été dévorée par un loup, que faites-vous ?",
            "buttons": [
                {
                    "id": 1,
                    "text": "On avance dans la caverne ! si il ya un loup, nous le tuerons !",
                    "link": "4",
                    "score": {
                        "Communication": 0,
                        "Esprit": 1,
                        "Leadership": 1,
                        "Positive": -2,
                        "Equipe": 1,
                        "Ethique": -2
                    }
                },
                {
                    "id": 2,
                    "text": "On continue de fouiller la caverne",
                    "link": "2",
                    "score": {
                        "Communication": 1,
                        "Esprit": 1,
                        "Leadership": 0,
                        "Positive": 1,
                        "Equipe": 1,
                        "Ethique": 0
                    }
                },
                {
                    "id": 2,
                    "text": "Un loup ? Fuyons !",
                    "link": "3",
                    "score": {
                        "Communication": 0,
                        "Esprit": 1,
                        "Leadership": -1,
                        "Positive": -1,
                        "Equipe": 0,
                        "Ethique": 0
                    }
                }
            ]
        }
    };

    $(function() {
        $('#send').click(function() {
            var messages = document.getElementById("messages");
            var msg = document.getElementById("message-content");
            var user = document.getElementById("user").innerHTML;
            messages.innerHTML = messages.innerHTML + "<strong>" + user + ": </strong>" + msg.value + "<br>";
            messages.scrollTop = messages.scrollHeight - messages.clientHeight;
            msg.value = "";
            /*$.ajax({
                url : "/game/chat.php",
                type : "GET",
                data : {"pseudo": user,"message": msg},
            });*/
        });
    });

    /*function reload(){
        setTimeout(function(){
            var chat_id = document.getElementById("chat-id").innerHTML;
            console.log(chat_id);
            var premierID = $('#messages p:first').attr('id');

            reload();
        }, 1000);

    }*/

    function fill_context(id){
        var element = document.getElementById("scenario-context");
        var c_u_id = document.getElementById('campagne_user_id').innerHTML;
        if(id == "-1"){
            element.innerHTML = '<a href="{{ path('game') }}?done=true&campagne=' + c_u_id + '" class="href-button">Retour à la liste des parties</a>';
            return false;
        }
        element.innerHTML = "<p> " + COMPAIGN[id]["context"] + "</p>";
    }

    function fill_buttons(id){

        var element = document.getElementById("scenario-btn");
        var html = ""
        if(id == "-1"){
            element.innerHTML = "";
            return false;
        }
        COMPAIGN[id]["buttons"].forEach(function(item){
            html += '<button class="scenario-btn btn btn-outline-primary btn-sm" ' +
                'id="'+ id + "-" + item["id"] + '" onclick="fill_game_scenario(' + item["link"] + ',' + id + ',' + item["id"] + ')"';
            if (item["score"]) {
                // Data id for score values
                html += ' data-communication="' + item["score"]["Communication"] + '"';
                html += ' data-esprit="' + item["score"]["Esprit"] + '"';
                html += ' data-leadership="' + item["score"]["Leadership"] + '"';
                html += ' data-positive="' + item["score"]["Positive"] + '"';
                html += ' data-equipe="' + item["score"]["Equipe"] + '"';
                html += ' data-ethique="' + item["score"]["Ethique"] + '"';
            }
            html += '">' + item["text"] + '</button>';
        });
        element.innerHTML = html;
    }

    function fill_scores(compaignId, buttonId) {
        var btn = $("button#" + compaignId + "-" + buttonId);
        var score = {
            "communication" : btn.data("communication"),
            "esprit" : btn.data("esprit"),
            "leadership" : btn.data("leadership"),
            "positive" : btn.data("positive"),
            "equipe" : btn.data("equipe"),
            "ethique" : btn.data("ethique")
        };

        $.ajax({
            url : "{{ path('profile_score', {id: user.id}) }}",
            type : "POST",
            dataType: "json",
            data: {
                score: score
            },
            success : function(result){
                console.log(result);
            },
            error : function(e)
            {
                console.log(e);
            }
        });
    }

    function fill_game_scenario(nextId, compaignId, buttonId){
        if (compaignId && buttonId)
            fill_scores(compaignId, buttonId);
        fill_context(nextId);
        fill_buttons(nextId);
    }

    //reload();
    fill_game_scenario("1");
</script>

{% endblock %}
{% block footer %}

{% endblock %}