{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block navprofil %}
    <ul class="navbar-nav justify-content-end">
        {% if user == null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}" aria-disabled="true">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('register') }}" aria-disabled="true">Register</a>
            </li>
        {% endif %}
        {% if user %}
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="myprofil" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon profil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="myprofil">
                        <a class="dropdown-item" href="{{ path('profile') }}">{{ user.prenom }} {{ user.nom }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('logout') }}" aria-disabled="true">Logout</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </ul>
{% endblock %}
{% block body %}
<section class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    Nouvelle campagne
    {% for campagne in list_campagne %}
    <div><h6>{{ campagne.nom }}</h6>
    <p>{{ campagne.description }}</p>
    <form action="{{ path('newgame') }}" method="POST">
    <input  name="IdCampagne" type="hidden" value="{{ campagne.id }}">
    <button class="btn btn-primary"> Lancer une nouvelle campagne</button></form>
    </div>
    {% endfor %}
    </div>
    <div class="col-md-2">
    Nouvelle campagne
    </div>
    <div class="col-md-8">
    liste des campagnes
    </div>
    <div class="col-md-2">
    badges
    </div>
  </div>
</section>
{% endblock %}
