{% extends 'base.html.twig' %}

{% block body %}
    <h3>Nouvelle partie</h3>
    <div class="row">
        {% for campagne in list_campagne %}
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/') ~ 'aventure' ~ random('0123456789') ~ '.png'}}" alt="Illustration de l'aventure">
                    <div class="card-body">
                        <h5 class="card-title">{{ campagne.nom }}</h5>
                        <p class="card-text">{{ campagne.description }}</p>
                        <form action="{{ path('newgame') }}" method="POST">
                            <input  name="IdCampagne" type="hidden" value="{{ campagne.id }}">
                            <button class="btn btn-light"><i class="fas fa-plus-circle"></i> Créer</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr/>
    <h3>Mes parties en cours</h3>
    <div class="row">
        {% for campagne in list_campagne_started %}
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/') ~ 'aventure' ~ random('0123456789') ~ '.png'}}" alt="Illustration de l'aventure">
                    <div class="card-body">
                        <h5 class="card-title">{{ campagne.nom }}</h5>
                        <a href="{{ path ('chat', {game: campagne.id})}}" class="btn btn-success"><i class="fas fa-play-circle"></i> Reprendre la partie</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
