{% extends 'base.html.twig' %}

{% block navprofil %}
<ul class="navbar-nav justify-content-end">
    {% if user == null %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('login') }}" aria-disabled="true">Login</a>
    </li>
    {% endif %}
    {% if user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout') }}" aria-disabled="true">Logout</a>
        </li>
    {% endif %}
</ul>
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Hello {% if user %}{{ user.username }}{% endif %}! ✅</h1>

        <p>This friendly message is coming from:</p>
        <ul>
            <li>Your controller at <code><a href="{{ '/var/www/RHProject/src/Controller/AccueilController.php'|file_link(0) }}">src/Controller/AccueilController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/var/www/RHProject/templates/accueil/index.html.twig'|file_link(0) }}">templates/accueil/index.html.twig</a></code></li>
        </ul>
    </section>
{% endblock %}
