{% extends 'base.html.twig' %}

{% block navprofil %}
    <ul class="navbar-nav justify-content-end">
        {% if user == null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}" aria-disabled="true">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('register') }}" aria-disabled="true">Register</a>
            </li>
        {% endif %}
        {% if user %}
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="myprofil" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon profil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="myprofil">
                        <a class="dropdown-item" href="{{ path('profil') }}">{{ user.prenom }} {{ user.nom }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('logout') }}" aria-disabled="true">Logout</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}

<section class="container">
<h5>Règles de l'application</h5>
<ul class="list-group">
<li class="list-group-item">Check cat door for ambush 10 times before coming in meow for cat milk copy park pee walk </li>
<li class="list-group-item">owner escape bored tired cage droppings sick vet vomit stuff and things or tuxedo cats always</li>
<li class="list-group-item">looking dapper. I cry and cry and cry unless you pet me, and then maybe i cry just for fun groom </li>
<li class="list-group-item">yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of</li>
<li class="list-group-item">the day - checked, or small kitty warm kitty little balls of fur. When in doubt, wash cough hairball, </li>    
</ul>
</section>
{% endblock %}
