{% extends 'base.html.twig' %}

{% block title %}Liste des campagnes{% endblock %}

{% block body %}
    <h1>Liste des campagnes</h1>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Chemin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campagne in campagnes %}
            <tr>
                <td>{{ campagne.id }}</td>
                <td>{{ campagne.nom }}</td>
                <td>{{ campagne.description }}</td>
                <td>{{ campagne.path }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('campagne_show', {'id': campagne.id}) }}" title="Afficher"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-primary" href="{{ path('campagne_edit', {'id': campagne.id}) }}" title="Modifier"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune campagne n'est disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('campagne_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Créer une campagne</a>
{% endblock %}
