{% extends 'base.html.twig' %}

{% block title %}Campagne{% endblock %}

{% block body %}
    <h1>Campagne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campagne.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ campagne.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ campagne.description }}</td>
            </tr>
            <tr>
                <th>Chemin</th>
                <td>{{ campagne.path }}</td>
            </tr>
        </tbody>
    </table>

                <a class="btn btn-primary" href="{{ path('campagne_index') }}"><i class="fa fa-arrow-left"></i> Retour à la liste</a>
{% endblock %}
