<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}Rh Project Game{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ asset('images/logoMini.ico') }}" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        {% endblock %}
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{{ path('accueil') }}">
                <img src="{{ asset('images/logoMini.ico') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                RH Project Game
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarLeft">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item {% if app.request.attributes.get('_route') starts with 'regle' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('regle') }}" tabindex="-1" aria-disabled="true"><i class="fa fa-briefcase"></i> Règles</a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') starts with 'avancementProjet' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('avancementProjet') }}" tabindex="-1" aria-disabled="true"><i class="fa fa-tasks"></i> Avancement du projet</a>
                    </li>
                    {% if user.roles is defined  %}
                        {% if user.roles is defined and 'ROLE_RH' in user.roles  %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menu RH
                                </a>
                                <div class="dropdown-menu" aria-labelledby="myprofil">
                                    <a class="dropdown-item" href="{{ path('dashboard') }}" aria-disabled="true">Dashboard</a>
                                    <a class="dropdown-item" href="{{ path('campagne_index') }}" aria-disabled="true">Gestion des campagnes</a>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu joueur
                            </a>
                            <div class="dropdown-menu" aria-labelledby="myprofil">
                                <a class="dropdown-item" href="{{ path('game') }}" aria-disabled="true">Mes parties</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    {% if user is defined and user != null %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="myprofil" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mon profil
                            </a>
                            <div class="dropdown-menu" aria-labelledby="myprofil">
                                <a class="dropdown-item" href="{{ path('profile' , {id: user.id}) }}">{{ user.prenom }} {{ user.nom }}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('logout') }}" aria-disabled="true"><i class="fa fa-sign-out-alt"></i> Se déconnecter</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item {% if app.request.attributes.get('_route') starts with 'login' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('login') }}" aria-disabled="true"><i class="fa fa-sign-in-alt"></i> Se connecter</a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') starts with 'register' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('register') }}" aria-disabled="true">Créer un compte</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block footer %}
          <footer class="mini-footer">
           <div class="container">
               <div class="row">
                 <div class="col-md-12">
                   <div class="copyright-text">
                     <p>© 2019
                       With love by Barbus.inc
                     </p>
                   </div>

                   <div class="go_top">
                     <span class="icon-arrow-up"></span>
                   </div>
                 </div>
               </div>
             </div>
           </div>
          </footer>
{% endblock %}
    </body>
</html>
